[submodule "core/lib/forge-std"]
	path = core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "core/lib/solady"]
	path = core/lib/solady
	url = https://github.com/vectorized/solady
